body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1em;
    font-size: 2em;
}

#container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    width: 60%;
    height: 8px;
    position: relative;
}

.text {
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0px;
    text-align: right;
    right: 1.5em;
}